body {
    margin: 0;
    padding: 0;
    background-color: black;
}





.ota {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 600px;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 600px;
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;

    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 600px;
}

button{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
 

}

.but,.but2{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
     background:linear-gradient(135deg, rgb(161, 196, 35) 0%, rgb(106, 100, 100) 100%);
}