* {
    margin: 0;
    padding:0 ;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
   
}



button {
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
header a {
    position: relative;
    text-decoration: none;
    color: white;
}




header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease;
}

header a:hover::after {
    width: 100%;
}



.link {
    display: flex;
    gap: 20px;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
}

.h1{
    display: block;
    font-size: 80px;
    width: 40%;
}

.para{
    display: flex;
    width: 80%;
    margin-left: 200px;
    padding: 20px;
    font-size: 50px;
}

.get{
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.jon{
margin: auto;
}

.card0{
  

   border-radius: 20px;
 
   padding:50px ;
 text-align: center;
align-content: center;
 background-color: rgb(84, 63, 83);
 color: white;
 font-size: 30px;
 
}   

.bosh{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
    background-color: rgb(54, 32, 56);
    padding: 50px;
    margin: auto;
    border-radius: 50px;
}


.start{
    font-size: 20px;
    margin-top: 20px;
}

ul{
    text-align: start;
}

.what{
    width: 50%;
    font-size: 50px;
    padding: 30px;
}

.woop{
    width: 100%;
    font-size: 40px;
    margin-left: 400px;
}

.aut{
        font-size: 14px;
    letter-spacing: 2px;
    color: #aaa;
    margin-bottom: 40px;
}

.ten{
    background: #000;
    color: #fff;
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 570px;
    transition: 0.3s;
}
.ten:hover{
    transform: translate(10px,-10px);
    box-shadow: 5px 1px 1px 5px rgb(13, 4, 80);
}


.top{
    display: flex;
    justify-content: center;
   align-items: center;
   text-align: center;
}


.hi{
    font-size: 20px;
    margin-right: 10px;
    justify-content: center;
    margin-left: 450px;
}