* {
    margin: 0;
    padding:0 ;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
   
}



button {
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
header a {
    position: relative;
    text-decoration: none;
    color: white;
}




header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease;
}

header a:hover::after {
    width: 100%;
}



.link {
    display: flex;
    gap: 20px;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
}

.h1{
    display: block;
    font-size: 80px;
    width: 40%;
}

.para{
    display: flex;
    width: 80%;
    margin-left: 200px;
    padding: 20px;
    font-size: 50px;
}

.get{
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.jon{
margin: auto;
}

.card0{
  

   border-radius: 20px;
 
   padding:50px ;
 text-align: center;
align-content: center;
 background-color: rgb(84, 63, 83);
 color: white;
 font-size: 30px;
 
}   

.bosh{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
    background-color: rgb(54, 32, 56);
    padding: 50px;
    margin: auto;
    border-radius: 50px;
}


.start{
    font-size: 20px;
    margin-top: 20px;
}

ul{
    text-align: start;
}